<?xml version='1.0'?>
<model>
  <name>wamv</name>
  <version>1.0</version>
  <sdf version='1.7'>model.sdf</sdf>

  <author>
    <name>Tristan Gybels</name>
  </author>

  <author>
    <name>Cole Biesemeyer</name>
    <email>cole@openrobotics.org</email>
  </author>

  <author>
    <name>Louise Poubel</name>
    <email>louise@openrobotics.org</email>
  </author>

  <description>
    Wamv adapted from gazebo.
  </description>
</model>

