Cédric Buche <cedric.buche@pacific.naval-group.com>

Cyril Moron <cyril.moron@gmail.com>

Estelle Chauveau <estelle.chauveau@naval-group.com>

Esther Rayssiguie <esther.rayssiguie@fe.naval-group.com> <77739079+estherRay@users.noreply.github.com>
Esther Rayssiguie <esther.rayssiguie@fe.naval-group.com> <erayssiguie.exterieur@naval-group.com>
Esther Rayssiguie <esther.rayssiguie@fe.naval-group.com> <newsther@yahoo.com>

Guillaume Jacquenot <guillaume.jacquenot@gmail.com> <Gjacquenot@users.noreply.github.com>
Guillaume Jacquenot <guillaume.jacquenot@gmail.com> <guillaume.jacquenot@sirehna.com>

Hélène Lechêne <hlechene.exterieur@pacific.naval-group.com>

Julien Prodhon <julien.prodhon@fe.naval-group.com>

Juliette Grosset <jgrosset10@gmail.com> <jgrosset.external@pacific.naval-group.com>
Juliette Grosset <jgrosset10@gmail.com> <60522207+grossetjuliette@users.noreply.github.com>

Kerian Fiter <kerian.fiter@gmail.com> <kfiter.exterieur@pacific.naval-group.com>

Malcom Neo <malcom.neo@fe.naval-group.com> <51524465+malcom-neo@users.noreply.github.com>
Malcom Neo <malcom.neo@fe.naval-group.com> <malcom.neo@gmail.com>
Malcom Neo <malcom.neo@fe.naval-group.com> <malcomneo@gmail.com>

Paul Mellin <paul.mellin@naval-group.com>

Quentin Arzel <qarzel.exterieur@pacific.naval-group.com>

Raphaël Clément <raphael.clement@naval-group.com> <clement_raphael@orange.fr>