<?xml version="1.0"?>

<model>
    <name>Commando</name>
    <version>1.0</version>
    <sdf version="1.10">model.sdf</sdf>
    <author>
        <name>Naval Group</name>
    </author>

    <maintainer>Naval Group</maintainer>

    <description>
        Commando vessel for collaborative scenario
    </description>
</model>