<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find wamv_description)/urdf/thrusters/engine.xacro" />
  <!-- Left 0 Right 1 -->
  <xacro:engine id="0" position="-2.373776 1.027135 0.318237" />
  <xacro:engine id="1" position="-2.373776 -1.027135 0.318237" />
  
  <xacro:include filename="$(find wamv_description)/urdf/thruster_layouts/wamv_gazebo_thruster_config.xacro" />
  <xacro:wamv_gazebo_thruster_plugin name="left" />
  <xacro:wamv_gazebo_thruster_plugin name="right" />
</robot>
