<?xml version="1.0"?>

<window>
  <width>602</width>
  <height>767</height>
  <style
    material_theme="Dark"
    material_primary="Teal"
    material_accent="Purple"
    toolbar_color_light="#44ee44"
    toolbar_text_color_light="#004400"
    toolbar_color_dark="#004400"
    toolbar_text_color_dark="#44ee44"
    plugin_toolbar_color_light="#4444ee"
    plugin_toolbar_text_color_light="#000044"
    plugin_toolbar_color_dark="#000044"
    plugin_toolbar_text_color_dark="#4444ee"
  />
</window>

    <plugin filename="MinimalScene" name="3D View">
        <gz-gui>
          <title>3D View</title>
          <property type="bool" key="showTitleBar">false</property>
          <property type="string" key="state">docked</property>
        </gz-gui>
 
        <engine>ogre2</engine>
        <scene>scene</scene>
        <ambient_light>1.0 1.0 1.0</ambient_light>
        <background_color>0.4 0.6 1.0</background_color>
        <camera_pose>8.3 7 7.8 0 0.5 -2.4</camera_pose>
      </plugin>
