<?xml version="1.0"?>
<sdf version="1.6">
  <model xmlns:xacro="http://www.ros.org/wiki/xacro" name="lrauv_xdyn">

    <xacro:arg name="namespace" default="" />
    <xacro:property name="namespace" value="$(arg namespace)" />

    <xacro:arg name="name" default="" />
    <xacro:property name="name" value="$(arg name)" />

    <xacro:arg name="xdyn_" default="" />
    <xacro:property name="name" value="$(arg name)" />

    <xacro:macro name="lrauv_model">
      <xacro:physics_server_interface />

      <link name="base_link">
        <xacro:imu_sensor />
        <pose>0 0 0 0 0 3.1415</pose>
        <inertial>
          <pose>0 0 0 0 0 0</pose>
          <mass>147.8671</mass>
          <inertia>
            <ixx>3.000000</ixx>
            <ixy>0</ixy>
            <ixz>0</ixz>
            <iyy>41.980233</iyy>
            <iyz>0</iyz>
            <izz>41.980233</izz>
          </inertia>
        </inertial>
        <visual name="visual">
          <pose>0 0 0 0 0 0</pose>
          <geometry>
            <mesh>
              <uri>model://lrauv_xdyn/meshes/tethys.dae</uri>
              <submesh>
                <name>Body</name>
                <center>false</center>
              </submesh>
            </mesh>
          </geometry>
          <material name="tethys_material">
            <xacro:tethys_material />
          </material>
        </visual>
      </link>
    </xacro:macro>

    <xacro:macro name="imu_sensor">
      <sensor name="imu_sensor" type="imu">
        <always_on>1</always_on>
        <update_rate>1</update_rate>
        <visualize>true</visualize>
        <topic>${namespace}/${name}/imu</topic>
      </sensor>
    </xacro:macro>

    <xacro:macro name="tethys_material">
      <diffuse>1.0 1.0 1.0</diffuse>
      <specular>1.0 1.0 1.0</specular>
      <pbr>
        <metal>
          <albedo_map>model://lrauv_xdyn/materials/textures/Tethys_Albedo.png</albedo_map>
          <normal_map>model://lrauv_xdyn/materials/textures/Tethys_Normal.png</normal_map>
          <metalness_map>model://lrauv_xdyn/materials/textures/Tethys_Metalness.png</metalness_map>
          <roughness_map>model://lrauv_xdyn/materials/textures/Tethys_Roughness.png</roughness_map>
        </metal>
      </pbr>
    </xacro:macro>

    <xacro:macro name="physics_server_interface">
      <publish_render>true</publish_render>
      <unity_type_name>lrauv</unity_type_name>

      <physics_server_interface>
        <underwater>
          <ConnectionType>XDynWebSocket</ConnectionType>
          <uri>ws://127.0.0.1:12345</uri>
          <thrusters>
            <thursters1>propeller</thursters1>
          </thrusters>
        </underwater>
        <init_state>Underwater</init_state>
      </physics_server_interface>
    </xacro:macro>

    <xacro:lrauv_model />

  </model>
</sdf>