<?xml version="1.0"?>

<model>
  <name>Wind Turbine</name>
  <version>1.0</version>
  <sdf version='1.8'>model.sdf</sdf>

  <author>
    <name>Jacob Pellissier</name>
    <email>name@email.address</email>
  </author>

  <description>
    An onshore wind turbine model with each component imported from blender and assembled in gazebo.
    Everything has been configured for physics including center of mass (CoM), inertial properties
    of the hub and each blade, joints, and the necessary plugin for aerodynamic effects on the blades.
    Utilises the LiftDrag plugin which has been specifically configured for the turbine.

    To show the effects of wind, ensure the world has wind enabled and the direction of the wind is
    opposite to the direction that the propeller is facing, resembling how a real world turbine works.

    Note: The model is a proof of concept only and adjustments have been made to ensure it is suitable for
    simulation.
  </description>

</model>
