<?xml version='1.0'?>
<model>
    <name>dtmb_hull</name>
    <version>1.0</version>
    <sdf version='1.7'>model.sdf</sdf>

    <author>
        <name>Malcom</name>
        <email>malcom.neo@fe.naval_group.com</email>
    </author>

    <maintainer>Naval Group</maintainer>

    <description>
    DTMB 5415 boat hull.
    Find the hull at http://www.simman2008.dk/5415/5415_geometry.htm
    </description>
</model>

